<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Radio Map</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="../static/js/radio.js"></script>
    <link href="../static/css/style.css" rel="stylesheet">
    <!--<script src="../static/js/placeholdergame.js"></script>-->
    <!--<link href="../static/css/canvas_scaler.css" rel="stylesheet">-->

 
</head>
 
<body>
    <div id="map-submitter">
        <input type="text" class="form-control" id="submission-name" placeholder="Enter hitmap name">
        <button class="btn btn-1 btn-1a" id="map-submit-btn">Submit my hitmap!</button>
    </div>

    <div id="song-pin-menu">
        <input type="text" class="form-control" id="youtube-link-input" placeholder="Youtube URL">
        <input type="text" class="form-control" id="song-name-input" placeholder="Song name">
        <input type="text" class="form-control" id="artist-name-input" placeholder="Artist name">
        <button class="btn btn-1 btn-1a" id="song-add-btn">Add pin on map</button>
    </div>

    <div id="map-menu">
        <select id="map-select" class="form-control">
            <!--empty at start-->
        </select>
        <button class="btn btn-1 btn-1a" id="landing-hits">Go!</button>
        <button class="btn btn-1 btn-1a" id="landing-explore">Make my own hitmap</button>
    </div>

    <div id="player"></div> <!--will be replaced by youtube player (<iframe> tag) -->

    <script>
      //This code loads the YouTube IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>

    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7NHxFw4kCncxBrP8ztT5EsRveljpAHR0&callback=initMap"
    async defer></script>
    
</body>
 
</html>